@using StackExchange.Profiling
@using System.IO
@using StackExchange.Profiling.Internal
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject BlazorProfilerProvider BlazorProfilerProvider;
@inject MiniProfilerJsInterop MiniProfilerJsInterop;
<div id="mini-profiler" data-ids="" data-authorized="true" data-position="right" data-controls="true" data-version="@MiniProfilerBaseOptions.Version"></div>
<script type="text/javascript" suppress-error="BL9992">@js</script>
<style type="text/css">@css</style>

@code {
    private string js = "";
    private string css;
    protected override async Task OnInitializedAsync(){
        
        var miniProf = MiniProfiler.DefaultOptions.StartProfiler();
        var assembly = typeof(MiniProfiler).Assembly;
        using(miniProf.Step("Blazor MiniProfiler : CSS Loading"))
        {
            using (var stream = assembly.GetManifestResourceStream("StackExchange.Profiling.ui.includes.min.css"))                    
            using (var reader = new StreamReader(stream))
            {
                css += await reader.ReadToEndAsync();
            }
        }
        using(miniProf.Step("Blazor MiniProfiler : JS Loading"))
        {
            using (var stream = assembly.GetManifestResourceStream("StackExchange.Profiling.ui.includes.min.js"))                    
            using (var reader = new StreamReader(stream))
            {
                js += await reader.ReadToEndAsync();
                //await jsRuntime.InvokeVoidAsync("eval", js);
            }
        }
        
       
        await miniProf.StopAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender){
            return;
        }
        BlazorProfilerProvider.OnProfilerStopped += (target,miniProfiler) => {
            MiniProfilerJsInterop.RenderProfiler(miniProfiler).ContinueWith((t) => {});
        };
        
    }

}